.container {
  min-width: 55rem;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  /* padding-top: 0.5rem; */
}

.header {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .section {
  padding: 1rem;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
}

.header .active {
  background-color: #32936f;
  color: #fff;
}

.body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.tab {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background-color: #808080;
  border-radius: 2rem;
}

.tab p {
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.2rem;
  color: #fff;
}

.tab svg {
  color: #fff;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

.tabs .active {
  background-color: #32936f;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 1px solid #32936f;
  text-decoration: none;
  background: #f0faf6;
  color: #32936f;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #32936f;
  color: #fff;
}
