.container {
  width: 80%;
  margin: 8rem auto;
}

h2 {
  font-size: 3.6rem;
  border-bottom: 2px solid #32936f;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.6rem;
}

ul {
  padding-left: 2rem;
  list-style: none;
}

ul li {
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

ul li::before {
  content: "~";
  padding-right: 1rem;
}

.card {
  background: #32936f;
  color: #fff;
  padding: 3rem 5rem;
  cursor: pointer;
  margin: 2rem 0;
}

.card h3 {
  color: #fff;
}

.card p {
  padding-top: 1rem;
  color: #fff;
}
