.rootContainer {
  position: relative;
}

.container {
  min-width: 80%;
  margin: 7rem 4rem;

  padding: 3rem;
  flex: 1;
  height: fit-content;
  min-height: 80%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  --color: #32936f;
}

.header {
  margin-top: 1rem;
}

.header .heading {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--color);
}

.header .subHeading {
  padding-top: 0;
  color: #555;
  font-weight: 500;
  font-size: 2rem;
}

.links {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 1rem 0;
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links .link {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links svg {
  color: var(--color);
}

.main {
  display: flex;
  gap: 5rem;
}

.col1,
.col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section .sectionTitle {
  line-height: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--color);
  font-weight: bold;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.item {
  padding: 1rem 0;
}

.content .title {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #000;
  padding: 1rem 0;
  margin-bottom: 0;
  line-height: 1.6rem;
}

.content .subTitle {
  padding-top: 0.5rem;
  margin: 0;
  line-height: 1.8rem;
  color: #000;
}

.content .spaceBetween {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #555;
  font-style: italic;
}

.content .description {
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding: 0;
}

.content .subTitleItalic {
  padding-top: 1.8rem;
  font-style: italic;
  line-height: 0;
}

.content .points {
  padding: 0.5rem 1rem;
}

.content .point {
  list-style: none;
  font-size: 1.4rem;
}

.content .subjects {
  width: fit-content;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #000;
  font-size: 1.4rem;
  list-style: none;
}

.content .subject::before {
  content: "~";
  padding-right: 1rem;
}

.content .subject {
  padding-right: 2rem;
}

.hidden {
  display: none;
}

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  background-color: #32936f;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  opacity: 0.8;
}

#downloadBtn {
  position: absolute;
  top: 10rem;
  right: 4rem;
}
